force-app/main/default/flows/Test_SuperCombobox_AutoOutput.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel
  >Test SuperCombobox Auto-Output {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test SuperCombobox Auto-Output</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>First combobox to select Account Type</description>
        <name>Screen_1_Account_Type</name>
        <label>Select Account Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2_Account_Rating</targetReference>
        </connector>
        <fields>
            <name>AccountTypeCombobox</name>
            <extensionName>c:superComboboxLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Select Account Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description
    >Second combobox that can use the output from the first</description>
        <name>Screen_2_Account_Rating</name>
        <label>Select Account Rating</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_3_Display_Results</targetReference>
        </connector>
        <fields>
            <name>AccountRatingCombobox</name>
            <extensionName>c:superComboboxLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Rating</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Select Account Rating</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialSelectedValue</name>
                <value>
                    <elementReference
          >AccountTypeCombobox.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display the selected values</description>
        <name>Screen_3_Display_Results</name>
        <label>Display Results</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayResults</name>
            <fieldText
      >&lt;p&gt;&lt;b&gt;Selected Values:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Type: {!AccountTypeCombobox.selectedValue}&lt;/p&gt;&lt;p&gt;Account Rating: {!AccountRatingCombobox.selectedValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1_Account_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Test variable to show in the CPE</description>
        <name>TestStringVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hot</stringValue>
        </value>
    </variables>
</Flow>
